@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

:root{
    --primary-color: #08a5a3;
}

.container {
    margin:  auto;
    width: 60%;
    text-align: center;
    padding: 3rem;
    
}

.heading {
    margin: 1rem;
    color: var(--primary-color);
}

.description {
    font-size: larger;
    margin: 1rem;
}

.input-label {
    font-weight: bold;
    font-size: larger;
    
}
.input-taken {
    display: block;
    margin: 1.5rem auto;
    padding: 0.5rem;
    width: 70%;
    border-radius: 0.5rem;
}

/* label {
    margin: 2rem auto;
    color: var(--primary-color);
} */

#check-button {
    display: block;
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    /* width:100px; */
    font-size: larger;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
}

.cash-table,th, td {
    border: 2px solid;
    border-collapse: collapse;
    padding: 1rem;
    border-color: var(--primary-color);
    /* display: block; */
    margin: auto;
}

.cash-table caption {
    font-size: larger;
    margin: 0.5rem;
    font-weight: bold;
}